body {
    background-color: lightcyan;
}

h1 {
    color : aliceblue;
    background-color: aqua;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blueviolet;
    font-weight: 100;
}

.subtitle {
    font-size: 20px;
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(55, 55, 134);
}

ul, ol{
    color : rgb(52, 83, 122);
    size : 12px;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: rgb(121, 58, 121);
}

.uni-size {
    width : 300px;
    height : auto;
}
